@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


table,
th,
td {
    border: 1px solid;
}


html,
body {
    background-color: #dceff1;
}

body,
input,
textarea,
button,
select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header nav ul {
    background-color: white;
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    list-style: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;
}

header nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1em 0;
}

header nav ul li a {
    font-weight: bold;
    text-decoration: none;
}

input {
    height: 1.5em;
    margin: 0;
    padding: .25em .5em;
}

select {
    height: 2.5em;
}

textarea {
    margin: 0;
    padding: .25em .5em;
}

table {
    width: 50%;
}

.login-form,
.signup-form {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 400px;
    padding: 2em;
}

.task-form h1,
.login-form h1,
.signup-form h1,
.project-list h1,
.project-form h1,
.project-detail h1 {
    margin-top: 0;
}

.task-form button,
.my-tasks-list button,
.login-form button,
.signup-form button,
.project-form button {
    padding: 0.25em 1em;
}

.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
    padding: .5em;
}

.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
    border-bottom: 2px solid #DEDEDE;
}

.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
    text-align: center;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    background-color: yellow;
}
