{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Tasks</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
{% endblock title %}

{% block content %}
<header class = "center">
    <nav>
        <a href={% url 'show_my_tasks' %}>Task List</a>
    </nav>
</header>
<main class = "center">
    <h1>Edit Task</h1>
    <form method="post">
        {% csrf_token %}
        {{ task_form.as_p }}
        <button>Create</button>
      </form>

</main>
{% endblock content %}
