{% extends 'base.html' %}

{% load static %}

{% block content %}
    <main class="center">
        <div>
            <h1>My Tasks</h1>
            <p>
                <a href={% url 'create_task' %}>Create a task</a>
            </p>
            {% if tasks %}
                <table class="center">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    {% endif %}
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>
                                <a href={% url 'edit_task' task.id %}>{{ task.name }}</a>
                            </td>
                            <td>{{ task.start_date|date:"m-d-Y" }}</td>
                            <td>{{ task.due_date|date:"m-d-Y" }}</td>
                            <td>{{ task.is_completed|yesno:"yes, no" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not tasks %}<p>You have no tasks</p>{% endif %}
        </div>
    </main>
</body>
</html>
{% endblock content %}
