{% extends 'base.html' %}

{% load static %}

{% block title_css %}
    <title>{{ project_object.name }} -
    Projects</title>
{% endblock title_css %}
{% block content %}
    <main class="center">
        <div>
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href={% url 'create_task' %}>Create a task</a>
            </p>
            {% if project.tasks.all %}
                <table class="center">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for task in project.tasks.all %}
                        <tr>
                            <td>
                                <a href={% url 'edit_task' task.id %}>{{ task.name }}</a>
                            </td>
                            <td>{{ task.assignee }}</td>
                            <td>{{ task.start_date|date:"m-d-Y" }}</td>
                            <td>{{ task.due_date|date:"m-d-Y" }}</td>
                            <td>{{ task.is_completed|yesno:"yes, no" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if project.tasks.all|length <= 0 %}<p>This project has no tasks</p>{% endif %}
        </div>
    </main>
{% endblock content %}
