{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Projects</title>
{% endblock title %}
{% block content %}
    <main class="center">
        <div>
            <h1>My Projects</h1>
            <div>
                <p>
                    <a href={% url 'create_project' %}>Create a project</a>
                </p>
                <p>
                    <a href={% url 'create_task' %}>Create a task</a>
                </p>
            </div>
            {% if projects %}
                <table class="center">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>
                                <a href={% url 'show_project' project.id %}>{{ project.name }}</a>
                            </td>
                            <td>{{ project.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not projects %}<p>You are not assigned to any projects</p>{% endif %}
        </div>
    </main>
{% endblock content %}
